*{
	box-sizing: border-box;
	margin: 5px;

	padding: 0;
}
h1{
	border:2px solid grey;
	width: 300px;
	height: 40px;
	padding: 5px;
	}
p
{
	white-space: pre-line;

}
#paragraph{
	border: 5px solid black;
	width:1000px;
}

